// https://quasar.dev/style/theme-builder

$primary   : #061540;
$secondary : #00796b;
$accent    : #7b1fa2;

$dark      : #1d1d1d;
$dark-page : #424242;

$positive  : #388e3c;
$negative  : #c62828;
$info      : #0288d1;
$warning   : #fbc02d;